* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

html, 
body {
  position: relative;
  height: 100%;
  font-family: 'Roboto Slab', serif;
  cursor: default;
}

.header {
  height: 460px;
  width: 100%;
}

.header__bg {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 6px;
  color: #fff;
  padding-left: 56px;
}

.header__title {
  text-align: center;
  font-weight: 600;
  color: #fff;
  font-size: 56px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: 90px;
}

.header__down {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}

.offer__title {
  padding: 0 0 10px 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  position: relative;
}

.offer__title::after {
  content: '';
  width: 100px;
  height: 1px;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #c00;
  display: block;
}

.title {
  text-align: center;
  font-size: 24px;
  margin: 0;
  color: #211e22;
  font-weight: 500;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.swiper-slide img {
  display: block;
  width: 274px;
  height: 219px;
  object-fit: cover;
}

/*.offer__box {
  padding: 5px 10px 10px;
}*/

.offer__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  position: relative;
  top: 0;
  transition: all 0.2s ease;
}

.offer__link:hover {
  box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
  top: -3px;
  text-decoration: none;
  color: inherit;
  outline: 0;
}

.offer__link:hover .offer__img .images {
  transform: scale(1);
}

.offer__img {
  width: 100%;
  background: #ddd;
  position: relative;
  overflow: hidden;
}

.images {
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: 50% 50%;
  transform: scale(1.15);
  transition: all 2s ease;
  display: block;
}

.offer__head {
  padding: 15px 15px 5px;
  background: #fff;
}

.offer__head-inner {
  font-size: 12px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.offer__head-left {
  width: auto;
}

.offer__head-right {
  width: 80px;
  margin: -5px 0;
  height: 20px;
  background-image: url(img/star_rating.png);
  background-position: left center;
  background-repeat: repeat-x;
} 

.offer__head-right3 {
  width: 60px;
  margin: -5px 0;
  height: 20px;
  background-image: url(img/star_rating.png);
  background-position: left center;
  background-repeat: repeat-x;
} 

.offer__head-title {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 5px;
  color: #211e22;
  padding-bottom: 10px;
  text-align: left;
}

.offer__head-location {
  color: #0000ff;
  font-weight: bold;
}

.offer__footer {
  background: #fff;
  padding: 0 95px 15px 15px;
  bottom: 0;
  width: 100%;
  display: flex;
}

.offer__footer::after {
  content: "BOOK NOW";
  color: #cc0000;
  font-weight: 700;
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  line-height: 1;
  padding: 15px;
}

.offer__footer-price {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: #000;
  text-align: left;
}

.offer__footer-text {
  font-size: 12px;
  display: block;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  color: #999;
}

.swiper-button-prev:hover, .swiper-rtl .swiper-button-next {
  color: #c00;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  color: #999;
}

.swiper-button-next:hover, .swiper-rtl .swiper-button-prev {
  color: #c00;
}

.world {
  margin-top: 60px;
  position: relative;
  overflow: hidden;
}

.world__inner {
  height: auto;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.world__box {
  display: inline-block;
  width: 25%;
}

.world__link {
  width: auto;
  min-height: 100px;
  margin: 10px 10px 5px;
  padding-bottom: 60%;
  position: relative;
  top: 0;
  display: block;
  border: 1px solid #eee;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  transition: all 0.2s ease;
  overflow: hidden;
}

.world__link:hover {
  box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
  top: -3px;
}

.world__images {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: all 2s ease;
}

.world__link:hover .world__images {
  transform: scale(1.1);
}

.world__title {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 15px #333;
  position: absolute;
  top: 35%;
  z-index: 1;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.world__text {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 15px #333;
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 15px;
}

.world__btn-prew {
  background-image: url(img/prew.svg);
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -8px;
  padding-left: 5px;
}

.world__btn-next {
  background-image: url(img/next.svg);
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -3px;
  padding-right: 5px;
}


.achievements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px 0;
}

.achievements__img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 40px auto;
}

.achievements__text {
  max-width: 200px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #333;
  cursor: initial;
}

.footer {
  padding: 10px 0px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.social .social__list {
  display: inline-flex;
  margin-left: 56px;
}

.social .social__list .social__list-items:not(:nth-child(3)) {
  margin-right: 45px;
}

.social__list-item .ionicon {
  fill: #fff;
  width: 30px;
  height: 30px;
}

@media (max-width: 880px) {}

@media (max-width: 800px) {
  .header__title {
    font-size: 46px;
    letter-spacing: 3px;
  }
}

@media (min-width: 601px) {
  .offer__mobile {
    display: none;
  }
}

@media (max-width: 600px) {
  .header__title {
    margin: 90px auto;
    width: 90%;
    font-size: 36px;
    letter-spacing: 1px;
  }

  .world__btn-prew,
  .world__btn-next {
    display: none!important;
  }

  .slick-track {
    flex-direction: column!important;
    width: 100%!important;
  }

  .slick-slide {
    width: 100%!important;
  }

  .offer {
    display: none;
  }

}


